<div class="chatlist container mt-4">
  <div class="card-header d-flex justify-content-between m-3">
    <h5 class="text-dark m-0">Chat List</h5>
    <button class="btn btn-link py-0 px-2" (click)="toggleChatList()">
      <i class="fa fa-times"></i>
    </button>
  </div>

  <!-- Loading indicator -->
  <div *ngIf="isLoading" class="p-3">
    <div class="custom-loader">
      <ngx-skeleton-loader count="3" [theme]="{ 'border-radius': '4px', height: '50px' }"></ngx-skeleton-loader>
    </div>
  </div>

  <!-- Chat list -->
  <ul class="list-group list-group-flush p-0 overflow-auto" *ngIf="!isLoading && chats?.length > 0">
    <li *ngFor="let chat of chats" class="inner-chatlist list-group-item border-bottom shadow-sm rounded-0"  routerLink="/pages/chats/{{ chat.id }}">
      <div class="d-flex align-items-center gap-2 p-2">
        <i class="ti-comment-alt m-2"></i>
        <div class="flex-grow-1">
          <div class="text-decoration-none text-dark fw-bold">
            {{ (recipientUsernames[chat.id]) | async }}
          </div>
          <div class="mb-0 text-muted text-truncate last-message">
            {{ lastMessages[chat.id]?.text }}
          </div>
        </div>
      </div>
    </li>
  </ul>

  <!-- No messages yet template -->
  <div *ngIf="!isLoading && chats?.length == 0">
    <div class="mt-3 text-center">
      <div class="alert alert-info alert-dismissible d-flex justify-content-center bg-light border">
        <p class="mb-0 text-muted">
          <i class="fa fa-info-circle me-2"></i> No messages yet.
        </p>
        <button type="button" class="btn-close" (click)="toggleChatList()"></button>
      </div>
    </div>
  </div>
</div>
