<div class="collection-block" *ngIf="!loader" (click)="quickView.openModal()">
    <!--
        [defaultImage]="'/assets/logo.png'"
        [lazyLoad]="post.image"-->
    <img 
        [src]="post.image || '/assets/images/posts/post-default.jpg'"
        class="img-fluid" alt="">
    <div class="collection-content">
        <h4>{{ "State : " + post.state }}</h4>
        <h3>{{ post.title| titlecase }}</h3>
        <div class="d-flex justify-content-between">
            <button class="btn btn-outline btn-sm" style="letter-spacing: 5px;" (click)="openEditModal()" *ngIf="post.state === 'pending'">Edit</button>
            <button class="btn btn-outline btn-sm"(click)="openDeleteConfirmationModal(post, post?.title)" *ngIf="post.state === 'pending'">Delete</button>
        </div>
    </div>
</div>
<app-skeleton-product-box *ngIf="loader"></app-skeleton-product-box>
<app-quick-view #quickView [post]="post"></app-quick-view>