<app-breadcrumb [title]="'Forget Password'" [breadcrumb]="'Forget Password'"></app-breadcrumb>

<!-- section start -->
<section class="pwd-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2>Forget Your Password</h2>
                <form class="theme-form" #emailForm="ngForm" (ngSubmit)="recoverPassword(emailForm.value.email)">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required="" [(ngModel)]="email">
                            <!-- Add 'required' attribute to ensure the field is not empty -->
                        </div>
                    </div>
                    <button type="submit" class="btn btn-solid">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->
