<div class="container mt-3 d-flex flex-row">
  <!-- Sidebar for Chat List -->
  <div class="col-md-4 d-none d-md-block">
    <app-chatlist></app-chatlist>
  </div>

  <!-- Main Chat Window -->
  <div class="col-md-8 col-12">
    <!-- Conditional Loading Indicator -->
    <ng-container *ngIf="isLoading; else chatContent">
      <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-container>

    <!-- Chat Content Template -->
    <ng-template #chatContent>
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="card-title m-0">
            <img [src]="otherParticipant?.gender == 'male' ? 'https://img.icons8.com/3d-fluency/94/user-male--v1.png' : 'https://img.icons8.com/3d-fluency/94/user-female--v1.png'" [alt]="otherParticipant?.gender + ' icon'" width="50" height="50">
            {{ otherParticipant?.firstName }} {{ otherParticipant?.lastName }}
          </h5>
          <button class="btn btn-sm btn-outline-primary rounded" (click)="openSwapListModal()">
            Swap
          </button>
        </div>

        <div class="card-body">
          <ul class="list-group chat-messages overflow-auto" style="height: 200px;" #chatMessages>
            <li *ngFor="let message of messages" class="list-group-item d-flex justify-content-between">
              <span class="text-break">
                <span *ngIf="message.sender !== currentUserId">{{ otherParticipant.firstName }} {{ otherParticipant.lastName }}:</span>
                <span *ngIf="message.sender === currentUserId">You:</span>
                {{ message.text }}
              </span>
              <span class="flex-shrink-0">{{ message.timestamp | date: 'short' }}</span>
            </li>
          </ul>
        </div>

        <div class="card-footer d-flex">
          <input type="text" [(ngModel)]="newMessage" class="form-control mr-2" (keyup.enter)="sendMessage()">
          <button (click)="sendMessage()" class="btn btn-primary px-3">
            <i class="fa fa-paper-plane"></i>
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
