<ng-template class="theme-modal" #managePosts let-modal>
    <div class="modal-content quick-view-modal">
        <div class="modal-body">
            <button type="button" class="close float-end border-0" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="quick-view-img">
                        <img [src]="post.image" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 rtl-text">
                    <div class="product-right">
                        <h2>{{ post.title | titlecase }}</h2>
                        <div class="border-product">
                            <h6 class="product-title">Post Information</h6>
                            <p class="mt-1">
                                Description: {{ post.description }}
                            </p>
                            <p class="mt-1">
                                Category: {{ post?.category }}
                            </p>
                            <p class="mt-1">
                                Condition: {{ post?.condition }}
                            </p>
                            <p class="mt-1">
                                Pricing: {{ post?.pricing }}
                            </p>
                            <p *ngIf="post.pricing === 'sale'" class="mt-1">
                                Price: {{ post?.price | currency:'JOD':'symbol':'1.2-2' }}
                            </p>

                        </div>
                        <div class="border-product">
                            <h6 class="product-title">Owner Information</h6>
                            <p>
                                Name: {{ (ownerData.firstName | titlecase) + " " + (ownerData.lastName | titlecase) }}
                            </p>
                            <p>
                                Email: {{ (ownerData.email | titlecase) }}
                            </p>
                            <p>
                                Points: {{ ownerData.points }}
                            </p>
                        </div>

                        <!-- Post State Management as a Form -->
                        <div class="border-product mt-3">
                            <h5 class="product-title py-2">Post State</h5>
                          
                            <form [formGroup]="postStateForm">
                              <div class="form-check" *ngFor="let state of ['Pending', 'Approved', 'Rejected', 'Deleted']">
                                <input class="form-check-input" type="radio" [id]="state.toLowerCase()" [value]="state.toLowerCase()" formControlName="state">
                                <label class="form-check-label" [for]="state.toLowerCase()">{{ state }}</label>
                              </div>
                          
                              <!-- Conditional Text Field for Rejection Message -->
                              <div *ngIf="postStateForm.get('state').value === 'rejected' || postStateForm.get('state').value === 'approved'" class="mb-3">
                                <label for="message" class="form-label">Custom Message <small>(optional)</small></label>
                                <textarea id="message" class="form-control" formControlName="message"></textarea>
                              </div>
                          
                              <!-- Add a button to submit the form -->
                              <button type="button" class="btn-outline mt-2" (click)="updatePostState()">Change State</button>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
