<div class="card-header text-white">
  <h4 class="mb-0">{{'Posts' | uppercase}}</h4>

  <div class="d-flex">
    <div class="mr-2">
      <label class="text-white" for="sortKey">Sort By</label>
      <select id="sortKey" [(ngModel)]="selectedSortKey" (change)="sortBy()"
        class="form-control form-control-sm">
        <option value="" disabled selected>Select Sorting Key</option>
        <option value="title">Title</option>
        <option value="category">Category</option>
        <option value="state">State</option>
        <option value="createdAt">Date</option>
        <!-- Add other options based on your Post interface properties -->
      </select>
    </div>

    <div>
      <label class="text-white" for="sortOrder">Order</label>
      <select id="sortOrder" [(ngModel)]="selectedSortOrder" (change)="sortBy()"
        class="form-control form-control-sm">
        <option value="" disabled selected>Select Sorting Order</option>
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
      </select>
    </div>
  </div>
  </div>

  <div class="card-body">
  <div id="batchDelete" class="category-table custom-datatable">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Post Title</th>
            <th scope="col">Category</th>
            <th scope="col">State</th>
            <th scope="col">Upload Time</th>
            <th scope="col" sortable="action">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of posts">
            <th>{{ post.title }}</th>
            <td>{{ post.category }}</td>
            <td>
              <i class='fa fa-circle f-12' [ngStyle]="{'color': getCircleColor(post.state)}"></i>
              {{ post.state | titlecase }}
            </td>
            <td>{{ post.createdAt.toDate() | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
            <td>
              <a (click)="managePostsModal.openModal()"><i class='fa fa-edit f-12'></i></a>&nbsp;
            </td>
            <app-manage-post-modal #managePostsModal [post]="post" style="display: none;"></app-manage-post-modal>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
