<div class="collection-collapse-block" [class.open]="collapse">
    <h3 class="collapse-block-title" (click)="collapse = !collapse">Type</h3>
    <div class="collection-collapse-block-content">
      <div class="color-selector">
        <div class="collection-brand-filter">

          <div class="custom-control custom-checkbox collection-filter-checkbox">
            <input name="free" type="checkbox" class="custom-control-input" />
            <label class="custom-control-label" for="free">Free</label>
          </div>

          <div class="custom-control custom-checkbox collection-filter-checkbox">
            <input name="paid" type="checkbox" class="custom-control-input" />
            <label class="custom-control-label" for="paid">Paid</label>
          </div>

        </div>
      </div>
    </div>
</div>