@import "../../../assets/scss/theme/_variables.scss";

header {
    background-color: $white;
}

.sticky {
    &.fixed {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 999;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
        background: #fff;
        box-shadow: 0px 0px 8px #ddd;
    }
}


.main-menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    .brand-logo {
        display: inline-block;
        max-width: 15rem;
    }
    .menu-right {
        display: flex;
        float: right;
    }
}

.top-right {
    position: fixed;
    top: 10px; /* Adjust the top distance as needed */
    right: 10px; /* Adjust the right distance as needed */
    z-index: 1000; /* Adjust the z-index as needed to ensure it appears above other elements */
    min-width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > div{
        background-color: #ffffff; /* Set background color as needed */
        border: 1px solid #ccc; /* Add border as needed */
        padding: 10px; /* Add padding as needed */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add box shadow as needed */
        border-radius: 5px;
        padding: 0px;
        i{
            font-size: 20px;
        }
    }
}



  
