<header>
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <div class="main-menu">
                  <!-- Brand Logo -->
                  <div class="brand-logo p-0">
                      <a routerLink="" id="headerlogo">
                          <img [src]="themeLogo" class="img-fluid" alt="logo">
                      </a>
                  </div>
                  <!-- Menu Right -->
                  <div class="menu-right pull-right">
                      <!-- App Menu -->
                      <div>
                          <app-menu></app-menu>
                      </div>

                      <!-- Top Right Section -->
                      <div class="top-right">
                          <!-- Notifications -->
                          <ng-container *ngIf="isUser">
                            <div>
                              <button class="btn btn-link" (click)="toggleList('notification')" *ngIf="!showNotification && !showChatList">
                                  <i class="fa fa-bell"></i>
                              </button>
                              <app-notifications-section *ngIf="showNotification" (toggleNotificationEvent)="toggleList('notification')"></app-notifications-section>
                            </div>

                            <!-- Chat -->
                            <div>
                              <button class="btn btn-link" (click)="toggleList('chat')" *ngIf="!showChatList && !showNotification">
                                  <i class="fa fa-comment"></i>
                              </button>
                              <app-chatlist *ngIf="showChatList" (toggleChatListEvent)="toggleList('chat')"></app-chatlist>
                            </div>
                          </ng-container>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>