<header class="sticky" [ngClass]="class" [class.fixed]="stick && sticky">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="main-menu">
            <div class="brand-logo p-0">
                <a routerLink="" id="headerlogo">
                  <img [src]="themeLogo" class="img-fluid" alt="logo">
                </a>
            </div>
            <div class="menu-right pull-right">
              <div>
                <app-menu></app-menu>
              </div>
              <!-- Top Right Section -->
              <div class="notification-section p-0 d-flex" *ngIf="isUser">
                <button class="btn btn-link" (click)="toggleNotification()" *ngIf="!showNotification && !showChatList">
                  <i class="fa fa-bell" style="font-size: 20px; margin-right: 10px;"></i>
                </button>
                <button class="btn btn-link" (click)="toggleChatList()" *ngIf="!showChatList && !showNotification">
                  <i class="fa fa-comment" style="font-size: 20px;"></i>
                </button>
                <app-notifications-section *ngIf="showNotification" (toggleNotificationEvent)="toggleNotification()"></app-notifications-section>
                <app-chatlist *ngIf="showChatList" (toggleChatListEvent)="toggleChatList()"></app-chatlist>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
</header>
  