/*=====================
    27.Menu css start
==========================*/

header {
    .main-navbar {
        text-align: center;
        .nav-menu {
            display: inline-block;
            list-style: none;
            margin: 0;
            padding: 0;
            line-height: normal;
            direction: ltr;
            text-align: left;
            >li {
                position: relative;
                float: left;
                display: block;
                >a {
                    display: block;
                    padding-right: 45px;
                    color: #222222;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 23px;
                    text-decoration: none;
                    text-transform: uppercase;
                    padding-top: 42px;
                    padding-bottom: 42px;
                    padding-left: 0;
                    letter-spacing: 0.07em;
                    position: relative;
                    .sub-arrow {
                        position: absolute;
                        top: 50%;
                        margin-top: -17px;
                        left: auto;
                        right: 15px;
                        width: 34px;
                        height: 34px;
                        overflow: hidden;
                        font: bold 16px/34px monospace !important;
                        text-align: center;
                        text-shadow: none;
                        border-radius: 4px;
                        &:before {
                            content: "\f107";
                            font-family: $font-awesome;
                            position: absolute;
                        }
                    }
                }
                .nav-submenu {
                    position: absolute;
                    left: 0;
                    z-index: 4;
                    box-shadow: 0 0 1px 0 #ebebeb;
                    padding: 15px 0px 15px 0px;
                    background: white;
                    li {
                        border: 0;
                        float: none;
                        position: relative;
                        display: block;
                        a {
                            border: 0 !important;
                            background: transparent;
                            color: #222222;
                            border-radius: 0 !important;
                            font-size: 14px;
                            font-weight: 400;
                            text-transform: capitalize;
                            padding: 5px 35px;
                            display: block;
                            letter-spacing: 0.07em;
                            line-height: 1.9;
                            &:before {
                                position: absolute;
                                bottom: 0;
                                content: "";
                                height: 2px;
                                width: 0;
                                background-color: var(--theme-deafult);
                                -webkit-transition: 0.5s ease;
                                transition: 0.5s ease;
                            }
                            .sub-arrow {
                                position: absolute;
                                top: 50%;
                                margin-top: -17px;
                                left: auto;
                                right: 15px;
                                width: 34px;
                                height: 34px;
                                overflow: hidden;
                                font: bold 16px/34px monospace !important;
                                text-align: center;
                                text-shadow: none;
                                border-radius: 4px;
                                &:before {
                                    content: "\f105";
                                    font-family: $font-awesome;
                                    position: absolute;
                                }
                            }
                        }
                        .nav-sub-childmenu {
                            position: absolute;
                            width: 200px;
                            right: -200px;
                            top: 0;
                            background: #fff;
                            border: none;
                            padding: 15px 0px 15px 0px;
                            box-shadow: 0 0 1px 0 #ebebeb;
                        }
                    }
                }
              
                &:hover {
                    >a {
                        color: var(--theme-deafult);
                    }
                }
            }
        }
    }
    
}
.toggle-nav {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    cursor: pointer;
    i {
        font-size: 24px;
        color: var(--theme-deafult);
    }
}

.up-text {
    position: relative;
    span {
        position: absolute;
        top: -5px;
        right: -10px;
        color: var(--theme-deafult);
        font-size: 12px;
        font-weight: 700;
    }
}
// Responsive menu css start //
@media (min-width: 1200px) {
  
    header {
        .main-navbar {
            .nav-menu {
                >li {
                    .nav-submenu {
                        width: 200px;
                        display: none;
                        li {
                            a {
                                &:hover {
                                    &:before {
                                        width: 50px;
                                        height: 2px;
                                        -webkit-transition: 0.5s ease;
                                        transition: 0.5s ease;
                                    }
                                }
                            }
                            .nav-sub-childmenu {
                                display: none;
                            }
                            &:hover {
                                .nav-sub-childmenu {
                                    display: block;
                                }
                            }
                        }
                    }
                    &:hover {
                        .nav-submenu {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .toggle-nav {
        display: none;
    }
    .mobile-back {
        display: none !important;
    } 
}

@media (max-width: 1199px) {
    header {
        .main-navbar {
            .nav-menu {
                position: fixed;
                background-color: #fff;
                width: 300px;
                border-radius: 0;
                border: 1px solid #eee;
                top: 0;
                height: 100vh;
                right: -300px;
                // right: 0;
                z-index: 99;
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
                overflow: scroll;
                &.opennav {
                    right: 0;
                }
                .back-btn {
                    display: block;
                    width: 100%;
                    .mobile-back {
                        padding: 20px;
                        font-size: 18px;
                        color: #222222;
                        font-weight: 700;
                        text-transform: uppercase;
                        border-bottom: 1px solid #efefef;
                        cursor: pointer;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: end;
                        -ms-flex-pack: end;
                        justify-content: flex-end;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                    }
                }
                >li {
                    display: block;
                    float: none;
                    width: 100%;
                    a {
                        padding: 10px 15px;
                        font-size: 16px;
                        font-weight: 700;
                        position: relative;
                        .sub-arrow {
                            right: 0;
                            &:before {
                                content: '+';
                                font-family: inherit;
                                position: relative;
                            }
                        }
                    }
                    .nav-submenu{
                        width: 100%;
                        padding: 0;
                        position: relative;
                        display: none;
                        &.opensubmenu {
                            display: block;
                        }
                        li {
                            a {
                                text-transform: uppercase;
                                .sub-arrow {
                                    right: 0;
                                    &:before {
                                        content: '+';
                                        font-family: inherit;
                                        position: relative;
                                    }
                                }
                            }
                            .nav-sub-childmenu {
                                display: none;
                                position: relative;
                                right: 0;
                                width: 100%;
                                padding: 0;
                                background: rgba(255, 85, 69, 0.04);
                                &.opensubchild {
                                    display: block;
                                }
                                li {
                                    a {
                                        padding: 5px 35px 5px 50px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
      
       
    }
    .main-menu {
        &.border-section {
            border: none;
        }
    }
}

@media (max-width: 991px) {
    .top-header {
        .header-contact {
            display: none;
        }
    }
}

@media (min-width: 578px) {
    .main-menu {
        .menu-right {
            .icon-nav {
                .mobile-search,
                .mobile-cart,
                .mobile-setting {
                    i {
                        display: none;
                    }
                    .close-circle {
                        i {
                            display: block;
                        }
                    }
                }
                .mobile-search {
                    .show-div {
                        .form-inline {
                            button {
                                i {
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:577px) {
    .top-header {
        height: 0;
    }
  
    .top-header {
        .header-dropdown {
            .mobile-account,
            .mobile-wishlist {
                position: fixed;
                bottom: 20px;
                right: 32%;
                font-size: 0;
                padding: 0;
                z-index: 9;
                i {
                    font-size: 22px;
                    font-family: $font-themify;
                    color: $header-font;
                    &:before {
                        content: "\e602";
                    }
                }
                .onhover-show-div {
                    top: unset;
                    bottom: 42px;
                    right: 0;
                }
                &:hover {
                    i {
                        color: $header-font;
                    }
                }
            }
            .mobile-wishlist {
                right: 64%;
                i {
                    font-family: $font-themify;
                    color: $header-font !important;
                    &:before {
                        content: "\e634";
                    }
                }
            }
        }
    }
    .main-menu {
        .menu-left {
            &.category-nav-right {
                .navbar {
                    padding-left: 0 !important;
                }
            }
            .navbar {
                padding: 30px 45px 30px 0 !important;
            }
        }
        .menu-right {
            .icon-nav {
                .mobile-setting,
                .mobile-cart,
                .mobile-search {
                    position: fixed;
                    bottom: 20px;
                    right: 16%;
                    font-size: 0;
                    padding: 0;
                    .show-div {
                        top: -58px;
                        left: 0;
                        &.shopping-cart {
                            top: unset;
                            bottom: 42px;
                            left: -118px !important;
                        }
                    }
                }
                .mobile-setting {
                    i {
                        display: inline-block;
                        font-size: 22px;
                        color: $header-font;
                    }
                    >div {
                        img {
                            display: none;
                        }
                    }
                    .setting {
                        top: unset;
                        bottom: 42px;
                        left: unset !important;
                    }
                }
                .mobile-cart {
                    right: 48%;
                    .close-circle {
                        i {
                            font-size: 14px;
                        }
                    }
                    i {
                        display: inline-block;
                        font-size: 22px;
                        color: $header-font;
                    }
                    >div {
                        img {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .brand-logo {
        position: absolute;
        left: 50%;
        margin-right: -50%;
        transform: translateX(-50%);
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
    .toggle-nav {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .brand-logo {
        img {
            height: 25px;
        }
    }
}