/*=====================
24.Responsive CSS start
==========================*/

@media(min-width: 1430px) {
    .container {
        max-width: 1400px;
    }
}


@media(max-width: 1367px) {
    h2 {
        font-size: 32px;
    }
    .title3 {
        .line {
            height: 3px;
            &:after,
            &:before {
                height: 3px;
            }
        }
        .title-inner3 {
            margin-bottom: 10px;
        }
    }
  
    .home-slider {
        &:hover {
            .owl-prev,
            .owl-next {
                transform: scale(1.8);
                left: 15px;
            }
            .owl-next {
                right: 15px;
                left: unset;
            }
        }
    }
    .service-block {
        h4 {
            font-size: 16px;
            margin-bottom: 5px;
        }
    }

    .collection-banner {
        .contain-banner {
            &.banner-3 {
                padding-left: 45px;
                padding-right: 45px;
                h2 {
                    font-size: 30px;
                }
            }
            &.banner-4 {
                padding-left: 45px;
                padding-right: 45px;
                h2 {
                    font-size: 28px;
                }
            }
            h2 {
                font-size: 55px;
                letter-spacing: 0.01em;
            }
            h4 {
                letter-spacing: 0.01em;
            }
        }
    }
  
    .footer-theme {
        .sub-title {
            h4 {
                font-size: 16px;
            }
        }
    }
}

@media(max-width: 1199px) {
    section,
    .section-t-space {
        padding-top: 60px;
    }

    header {
        &.header-tools {
            .main-navbar {
                .nav-menu {
                    >li {
                        >a {
                            padding: 10px 15px !important;
                        }
                    }
                }
            }
        }
    }
 
    .about-text {
        p {
            margin-bottom: 25px;
        }
    }
    .section-b-space {
        padding-bottom: 60px;
    }
    .title3 {
        h4 {
            padding-bottom: 8px;
        }
        .title-inner3 {
            margin-bottom: 10px;
        }
        .line {
            margin-bottom: 25px;
        }
    }

    .collection-banner {
        .contain-banner {
            &.banner-3 {
                padding-left: 35px;
                padding-right: 35px;
                h2 {
                    font-size: 25px;
                }
                h4 {
                    font-size: 12px;
                }
            }
            &.banner-4 {
                padding-left: 35px;
                padding-right: 35px;
                h2 {
                    font-size: 24px;
                }
                h4 {
                    font-size: 16px;
                }
            }
            h2 {
                font-size: 40px;
            }
        }
    }
    .home-slider {
        .home {
            height: 70vh;
        }
        .slider-contain {
            height: 70vh;
            h1 {
                font-size: 50px;
            }
        }
    }

    // inner pages //
   
    .collection-collapse-block {
        .collection-collapse-block-content {
            .collection-brand-filter {
                .category-list {
                    li {
                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
    .collection-filter-block {
        .product-service {
            .media {
                .media-body {
                    h4 {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .product-right {
        h2 {
            font-size: 20px;
        }
    }
}

@media(max-width: 991px) and (min-width: 767px) {
    .partition-f {
        >div {
            &+div {
                &+div {
                    margin-top: 30px;
                }
            }
        }
    }
}

@media(max-width: 991px) {
   
    .service_slide {
        .partition4 {
            >div {
                +div {
                    margin-top: 0;
                    +div {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
    .service_slide {
        .home-slider {
            .slider-contain {
                height: 65vh;
            }
        }
    }
  

    .about-text {
        p {
            line-height: 24px;
        }
    }
    .tools-service {
        .service-block {
            +.service-block {
                border-left: none;
            }
        }
        .service-block {
            svg,
            img {
                margin-bottom: 0;
            }
        }
    }
 
    h2 {
        font-size: 28px;
    }
   
    .section-b-space {
        padding-bottom: 50px;
    }
    .small-section {
        padding: 30px 0;
    }
    .br[_ngcontent-c25] {
        margin: 3px 0 15px 0 !important;
    }

    h4 {
        font-size: 16px;
    }
    .service-block {
        svg {
            margin-bottom: 20px;
            height: auto;
            width: 46px;
        }
        img {
            margin-bottom: 20px;
        }
    }
 
    .main-menu {
        .brand-logo {
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }
   
    .about-text {
        p {
            line-height: 24px;
        }
    }
  
    .footer-theme {
        .col {
            max-width: 50%;
            flex-basis: unset;
        }
        .footer-logo {
            margin-bottom: 30px;
        }
        .sub-title {
            h4 {
                margin-bottom: 10px;
            }
        }
    }

    .category-border {
        div {
            .category-banner {
                .category-box {
                    h2 {
                        padding: 5px 15px;
                        font-size: 30px;
                    }
                }
            }
        }
    }

    .full-banner {
        padding-top: 180px;
        padding-bottom: 180px;
    }
    .collection-banner {
        .contain-banner {
            padding-left: 60px;
            padding-right: 60px;
            &.banner-3 {
                padding-left: 30px;
                padding-right: 30px;
                h2 {
                    font-size: 20px;
                }
            }
            &.banner-4 {
                padding-left: 40px;
                padding-right: 40px;
                h2 {
                    font-size: 18px;
                }
                h4 {
                    font-size: 18px;
                }
            }
            h2 {
                font-size: 25px;
            }
        }
    }
    .home-slider {
        .home {
            height: 65vh;
        }
        .slider-contain {
            height: 65vh;
            h1 {
                font-size: 36px;
            }
            .btn-solid,
            .btn-outline {
                margin-top: 17px;
            }
        }
    }
   

    .alert {
        max-width: 45% !important;
    }
    .theme-modal {
        .modal-dialog {
            .modal-content {
                .modal-body {
                    .modal-bg {
                        .offer-content {
                            img {
                                margin-bottom: 20px;
                            }
                            h2 {
                                margin-bottom: 18px;
                            }
                        }
                    }
                }
            }
        }
    }

    .absolute-banner {
        margin-top: -60px;
    }

    .collection-collapse-block {
        border-bottom: 1px solid #dddddd !important;
    }
    .top-banner-content {
        h4 {
            font-size: 20px;
        }
    }
    .filter-main-btn {
        display: block;
    }
    .collection-filter {
        position: fixed;
        height: 100vh;
        top: 0;
        left: -350px;
        background-color: white;
        z-index: 999;
        overflow-y: scroll;
        padding: 15px 0 15px 15px;
        max-width: 350px;
        transition: all 0.5s ease;
        box-shadow: 0 0 8px #ddd;
        .collection-sidebar-banner {
            text-align: center;
        }
        .theme-card {
            padding-left: 30px;
            padding-right: 30px;
        }
        .collection-sidebar-banner {
            padding: 0 30px;
        }
    }
    .collection-filter-block {
        border: none;
        .product-service {
            padding-top: 0;
        }
    }
    .collection-mobile-back {
        display: block;
    }
    .collection {
        .section-t-space {
            padding-top: 30px;
        }
        .partition-collection {
            >div {
                &:nth-last-child(1) {
                    margin-top: 30px;
                }
                &:nth-last-child(2) {
                    margin-top: 30px;
                }
            }
        }
    }
    .right-login {
        margin-top: 30px;
    }
  

    .wishlist-section {
        tbody {
            tr {
                td {
                    min-width: 138px
                }
            }
        }
    }
  
    .product-right {
        h2 {
            margin-top: 15px;
        }
    }
 
    .product-right {
        text-align: center;
        margin: 20px 0 10px 0;
        .size-text {
            text-align: left;
        }
    }
}

@media(max-width: 767px) {
    .product-wrapper-grid {
        &.list-view {
            .product-box {
                .ng-star-inserted {
                    display: block;
                    border: 1px solid #eee;
                    padding: 15px;
                }
                .img-wrapper {
                    margin: 0 auto 15px;
                }
                .product-detail {
                    padding-left: 0;
                }
            }
        }
    }
  
    .service_slide {
        .home-slider {
            .slider-contain {
                height: 60vh;
            }
        }
    }
    .tools-service {
        .service-block {
            +.service-block {
                margin-top: 0;
                +.service-block {
                    margin-top: 20px;
                }
            }
        }
    }
    .about-text {
        p {
            line-height: 25px;
        }
    }
    
    section,
    .section-t-space {
        padding-top: 40px;
    }
    .section-b-space {
        padding-bottom: 40px;
    }
    .small-section {
        padding: 23px 0 20px;
    }
    .darken-layout,
  
    .service-block {
        .media {
            display: block;
            text-align: center;
            padding-top: 0;
            padding-bottom: 0;
        }
        svg,
        img {
            margin-right: 0;
        }
        +.service-block {
            border-left: 0;
            margin-top: 20px;
        }
        &:last-child {
            .media {
                .media-body {
                    p {
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
    .partition2 {
        margin-bottom: -25px;
        >div {
            margin-bottom: 25px;
        }
    }
    .about-text {
        p {
            line-height: 25px;
        }
    }
   
    .footer-title {
        margin-top: 10px;
        text-align: left;
        border-bottom: 1px solid $round-border;
        position: relative;
        &.footer-mobile-title {
            margin-top: 0;
        }
        h4 {
            text-transform: uppercase;
            font-weight: 700;
            cursor: pointer;
        }
        &.active {
            .according-menu {
                font: normal normal normal 14px/1 FontAwesome;
                &:before {
                    content: "\f106";
                    position: absolute;
                    right: 2px;
                    top: 2px;
                }
            }
        }
        .according-menu {
            font: normal normal normal 14px/1 FontAwesome;
            &:before {
                content: "\f107";
                position: absolute;
                right: 2px;
                top: 2px;
            }
        }
    }

    .footer-contant {
        text-align: left;
        .footer-logo {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        li {
            text-align: left;
        }
        .footer-social {
            ul {
                margin: unset;
                li {
                    padding-right: 25px;
                    padding-left: 0;
                }
            }
        }
    }
  
    .footer-theme {
        .footer-mobile-title {
            display: block !important;
        }
        text-align: center;
        .col {
            max-width: 100%;
            flex-basis: unset;
        }
        .footer-social {
            margin-bottom: 15px;
        }
        .sub-title {
            li {
                padding-top: 7px;
            }
        }
    }

    .category-border {
        div {
            .category-banner {
                .category-box {
                    h2 {
                        font-size: 25px;
                    }
                }
            }
        }
    }
  
    .product-box {
      
        .img-wrapper {
            .post-action-box {
                opacity: 1;
            }
        }
        &:hover {
            .img-wrapper {
                .post-action-box {
                    animation: none;
                }
            }
        }
    }

    .full-banner {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .collection-banner {
        .contain-banner {
            padding-left: 60px;
            padding-right: 60px;
            &.banner-3 {
                padding-left: 40px;
                padding-right: 40px;
                h2 {
                    font-size: 20px;
                }
                h4 {
                    font-size: 18px;
                }
            }
            &.banner-4 {
                padding-left: 45px;
                padding-right: 45px;
                h2 {
                    font-size: 18px;
                }
            }
            h2 {
                font-size: 35px;
            }
        }
    }
    .home-slider {
        .home {
            height: 60vh;
        }
        .slider-contain {
            height: 60vh;
            h1 {
                font-size: 35px;
                margin-top: 5px;
            }
            .btn-solid,
            .btn-outline {
                margin-top: 10px;
                padding: 10px 25px;
            }
        }
        &:hover {
            .owl-next {
                right: 80px;
            }
            .owl-prev {
                left: 80px;
            }
        }
    }
    .background {
        .col {
            flex-basis: unset;
        }
    }
   
    .filter-main-btn {
        span {
            font-size: 16px;
        }
    }
    .tap-top {
        bottom: 70px;
        right: 20px;
    }
    // inner pages //
    .collection {
        .partition-collection {
            >div {
                &:nth-last-child(1),
                &:nth-last-child(2),
                &:nth-last-child(3) {
                    margin-top: 30px;
                }
            }
        }
    }
    .collection-product-wrapper {
        .product-pagination {
            .pagination {
                .page-item {
                    a {
                        padding: 15px 18px;
                    }
                }
            }
            .product-search-count-bottom {
                justify-content: center;
                padding-right: 0;
                h5 {
                    padding: 10px 0;
                }
            }
            .theme-paggination-block {
                nav {
                    border-right: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                }
            }
        }
    }
  
    .register-page {
        .theme-card {
            padding: 25px;
            .theme-form {
                input {
                    margin-bottom: 25px;
                    padding: 13px 18px;
                }
            }
        }
    }
  
    .wishlist-section {
        tbody {
            tr {
                td {
                    a {
                        justify-content: center;
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
    
    .wishlist-section {
        tbody {
            tr {
                td {
                    &:nth-last-child(-n+3) {
                        display: none;
                    }
                    .mobile-cart-content {
                        display: flex;
                    }
                }
            }
        }
    }

}

@media (max-width: 577px) {
   
    .service_slide {
        .home-slider {
            .slider-contain {
                height: 58vh;
            }
        }
    }
 
    .tools-service {
        &.absolute-banner {
            .absolute-bg {
                padding-bottom: 20px;
                box-shadow: 0 0 8px 0 #ddd;
            }
        }
        .service-block {
            +.service-block {
                margin-top: 20px;
            }
        }
        .service-block {
            svg,
            img {
                margin-bottom: 7px;
            }
        }
    }
   
    .box-layout-body .box-layout .full-banner {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .section-b-space {
        padding-bottom: 30px;
    }
    section,
    .section-t-space {
        padding-top: 30px;
    }
    h2 {
        font-size: 24px;
    }
   
    .btn-solid {
        padding: 7px 15px;
    }
    footer {
        margin-bottom: 60px;
        .btn-solid {
            padding: 13px 29px;
        }
        p {
            line-height: 20px;
        }
    }
    .theme-modal {
        .modal-dialog {
            .quick-view-modal {
                .product-right {
                    margin: 15px 0 10px 0;
                    h2 {
                        font-size: 18px;
                        margin-bottom: 10px;
                    }
                    h3 {
                        font-size: 22px;
                        margin-bottom: 10px;
                    }
                    .border-product {
                        padding-top: 10px;
                        padding-bottom: 15px;
                    }
                }
            }
        }
    }
  
    .category-border {
        div {
            .category-banner {
                .category-box {
                    h2 {
                        font-size: 30px;
                        padding: 10px 20px;
                    }
                }
            }
        }
    }
    .filter-main-btn {
        span {
            font-size: 14px;
        }
    }
   
    .full-banner {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .home-slider {
        .home {
            height: 58vh;
        }
        .slider-contain {
            height: 58vh;
            h1 {
                font-size: 30px;
            }
        }
        &:hover {
            .owl-next {
                right: 70px;
            }
            .owl-prev {
                left: 70px;
            }
            .owl-prev,
            .owl-next {
                transform: scale(1.5);
            }
        }
    }
  
    .alert {
        right: 0 !important;
        left: 0;
        max-width: 90% !important;
    }
    .tap-top {
        width: 35px;
        height: 35px;
        padding: 2px;
        font-size: 19px;
    }

    // inner pages //
    .error-section {
        padding: 100px 0;
        h1 {
            font-size: 100px;
        }
        h2 {
            margin: 20px 0;
            font-size: 18px;
        }
    }
    .about-page {
        .about-head {
            display: inline-block;
            width: 100%;
            text-align: center;
            .theme-breadcrumb {
                .breadcrumb {
                    justify-content: center;
                    padding-top: 10px;
                    padding-bottom: 0;
                }
            }
        }
    }
    .breadcrumb-section {
        .page-title {
            text-align: center;
            margin: 0 auto;
            vertical-align: middle;
            display: unset;
        }
        .breadcrumb {
            justify-content: center;
            padding: 0;
            line-height: 30px;
        }
    }
    
    .collection {
        .collection-block {
            .collection-content {
                p {
                    margin-bottom: 10px;
                }
                h4,
                h3 {
                    margin-bottom: 5px;
                }
            }
        }
    }
    .collection-product-wrapper {
        .product-wrapper-grid {
            .product-box {
                margin-top: 30px;
            }
        }
    }

    .wishlist-section {
        .btn-solid {
            padding: 7px 8px;
        }
    }
  
    .collection-wrapper {
        .order-up {
            order: -1;
        }
    }
}

@media (max-width: 480px) {
    .service_slide {
        .home-slider {
            .slider-contain {
                height: 55vh;
            }
        }
    }
 
    .title3 {
        .line {
            margin-bottom: 20px;
        }
    }

    .category-border {
        div {
            .category-banner {
                .category-box {
                    h2 {
                        font-size: 25px;
                    }
                }
            }
        }
    }
    .product-box,
    .product-wrap {
        .img-wrapper {
            .post-action-box {
                i {
                    font-size: 16px;
                    padding-left: 4px;
                    padding-right: 4px;
                }
            }
        }
    }
   
    .full-banner {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .collection-banner {
        .contain-banner {
            padding-left: 30px;
            padding-right: 30px;
            h2 {
                font-size: 24px;
            }
        }
    }
    .home-slider {
        .home {
            height: 55vh;
        }
        .slider-contain {
            height: 55vh;
            h1 {
                font-size: 28px;
            }
            h4 {
                letter-spacing: 0.1em;
            }
            .btn-solid,
            .btn-outline {
                margin-top: 5px;
            }
        }
        &:hover {
            .owl-prev,
            .owl-next {
                transform: scale(1.2);
            }
            .owl-next {
                right: 60px;
            }
            .owl-prev {
                left: 60px;
            }
        }
    }
    
    .theme-modal {
        .modal-dialog {
            .modal-content {
                .modal-body {
                    .modal-bg {
                        padding: 35px;
                        .offer-content {
                            img {
                                margin-bottom: 10px;
                            }
                            h2 {
                                margin-bottom: 15px;
                            }
                        }
                        .age-content {
                            form {
                                .form-control {
                                    height: 40px;
                                    padding: 0;
                                }
                                .btn-solid,
                                .btn-outline {
                                    padding: 8px 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
   
    // inner pages //
    .about-page {
        p {
            line-height: 1.5;
        }
    }
    .pwd-page {
        padding: 70px 0;
        h2 {
            font-size: 25px;
            margin-bottom: 15px;
        }
    }
    .login-page {
        .authentication-right {
            h6 {
                margin-bottom: 10px;
            }
        }
        .theme-card {
            padding: 25px;
        }
    }
    .register-page {
        .theme-card {
            padding: 18px;
            .theme-form {
                input {
                    margin-bottom: 20px;
                    padding: 12px 15px;
                }
            }
        }
    }
}

@media (max-width: 420px) {
    .br[_ngcontent-c29] {
        margin: -8px 0 15px 0 !important;
    }
    .about-text {
        p {
            line-height: 22px;
        }
    }
    h2 {
        font-size: 22px;
    }
    footer {
        .btn-solid {
            padding: 7px 8px;
            height: 100%;
        }
        p {
            line-height: 25px;
        }
    }
    .about-text {
        p {
            line-height: 22px;
        }
    }
    .footer-theme {
        .sub-title {
            h4 {
                margin-bottom: 5px;
            }
        }
    }
    .breadcrumb-section {
        padding: 15px 0;
    }

    .home-slider {
        .slider-contain {
            h1 {
                font-size: 25px;
                margin-top: 10px;
            }
            h4 {
                letter-spacing: 0.01em;
            }
            .btn-solid,
            .btn-outline {
                margin-top: 10px;
                padding: 5px 18px;
            }
        }
        &:hover {
            .owl-prev,
            .owl-next {
                transform: scale(1.5);
            }
            .owl-next {
                right: 50px;
            }
            .owl-prev {
                left: 50px;
            }
        }
    }

    .login-page {
        .authentication-right {
            p {
                line-height: 1.5;
            }
        }
        .theme-card {
            .theme-form {
                input {
                    padding: 15px 20px;
                    margin-bottom: 25px;
                }
            }
        }
    }
}

@media (max-width: 360px) {
    
    .service_slide {
        .home-slider {
            .slider-contain {
                height: 50vh;
            }
        }
    }
    .btn-solid,
    .btn-outline {
        padding: 10px 15px;
    }
    h2 {
        font-size: 25px;
    }
    .category-border {
        div {
            .category-banner {
                .category-box {
                    h2 {
                        padding: 7px 15px;
                    }
                }
            }
        }
    }
    .full-banner {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .home-slider {
        .home {
            height: 50vh;
        }
        .slider-contain {
            height: 50vh;
            h1 {
                font-size: 25px;
            }
            .btn-solid,
            .btn-outline {
                margin-top: 8px;
                padding: 5px 15px;
            }
        }
        &:hover {
            .owl-prev,
            .owl-next {
                transform: scale(1.1);
            }
            .owl-next {
                right: 40px;
            }
            .owl-prev {
                left: 40px;
            }
        }
    }
    
    .about-page {
        p {
            line-height: 1.2;
        }
    }
    .theme-modal {
        .modal-dialog {
            .modal-content {
                .modal-body {
                    padding: 10px;
                    .modal-bg {
                        padding: 20px;
                        .close {
                            right: 10px;
                        }
                        .offer-content {
                            form {
                                .form-group {
                                    .form-control {
                                        padding-top: 10px;
                                        padding-bottom: 10px;
                                    }
                                }
                            }
                            h2 {
                                font-size: 20px;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    .collection-product-wrapper {
        .product-pagination {
            .pagination {
                .page-item {
                    a {
                        padding: 15px 13px;
                    }
                }
            }
            .product-search-count-bottom {
                padding-left: 10px;
                h5 {
                    line-height: 15px;
                }
            }
        }
    }
    .login-page {
        .theme-card {
            padding: 18px;
        }
    }
    .wishlist-section {
        tbody {
            tr {
                td {
                    min-width: 115px;
                    .mobile-cart-content {
                        .col {
                            margin-left: 5px;
                            margin-right: 5px;
                        }
                    }
                    a {
                        img {
                            height: 80px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .footer-theme {
        .footer-logo {
            margin-bottom: 20px;
        }
    }
    .collection-banner {
        .contain-banner {
            &.banner-3 {
                padding-left: 25px;
                padding-right: 25px;
                h2 {
                    font-size: 15px;
                }
            }
            &.banner-4 {
                padding-left: 35px;
                padding-right: 35px;
                h2 {
                    font-size: 15px;
                }
            }
        }
    }
}
