<div class="box" *ngIf="!loader">
    <div class="img-wrapper">
        <div class="front">
            <a>
                <img  [defaultImage]="'/assets/logo.png'" [lazyLoad]="post.image"  class="img-fluid" >
            </a>
        </div>
        <div class="cart-box">
            <a href="javascript:void(0)" title="Add to Wishlist" (click)="addToWishlist(post.id)">
                <i class="ti-heart" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0)" class="mobile-quick-view" (click)="QuickView.openModal()" title="Quick View">
                <i class="ti-search" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0)" title="Start Chat" (click)="createChat(post.ownerId)">
                <i class="ti-comment-alt" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="product-detail">
        <div>
            
            <h5 class="product-title">{{ post?.title | titlecase }}</h5>
            

            <h6 *ngIf="post.type == 'Free'">Price: Free</h6>
            <h6 *ngIf="post.type == 'Sale'">Price: {{post.price}} JD</h6>
            
            <small>Posted: {{getTimeDifference(post?.createdAt)}} Ago</small>
        </div>
    </div>
</div>
<app-quick-view #quickView [product]="post"></app-quick-view>
<app-skeleton-product-box *ngIf="loader"></app-skeleton-product-box>

