<ng-template class="theme-modal" #quickView let-modal>
    <div class="modal-content quick-view-modal">
        <div class="modal-body">
            <button type="button" class="close float-end border-0" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="row">
                <div class="col-lg-6  col-xs-12">
                    <div class="quick-view-img">
                        <img [src]="product.image" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 rtl-text">
                    <div class="product-right">
                        <h2>{{ product.title | titlecase }}</h2>
                        <h3>{{ product?.type}}</h3>
                        <div class="border-product">
                            {{product?.category}}
                        </div>
                        <div class="border-product">
                            <h6 class="product-title">Item Description</h6>
                            <p>{{ product.description.substring(0, 200)+'...' }}</p>
                        </div>
                        <div class="border-product">
                            <h5>
                                Owner Name: {{ownerInfo.firstName + " " + ownerInfo.lastName}}
                            </h5>
                        </div>
                        <div class="border-product d-flex justify-content-between">
                            <button class="btn btn-primary">Start Chat</button>
                            <button class="btn btn-warning" (click)="addToWishlist(product.id)">Add To Wishlist</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>