<ng-template #quickView let-modal class="theme-modal">
    <div class="modal-content quick-view-modal">
      <div class="modal-body">
        <!-- Simplified close button with aria label for accessibility -->
        <button type="button" class="close float-end border-0" aria-label="Close" (click)="modal.dismiss('Cross click')">
          &times;
        </button>
        <div class="row">
          <!-- Product Image -->
          <div class="col-lg-6 col-xs-12">
            <div class="quick-view-img">
              <img [src]="post.image || '/assets/logo.png'" alt="{{post.title}}" class="img-fluid">
            </div>
          </div>
          <!-- Product Details -->
          <div class="col-lg-6 rtl-text">
            <div class="product-right">
              <h2>{{ post.title | titlecase }}</h2>
              <p class="text-muted" *ngIf="post.pricing === 'free'; else salePrice">{{ post.pricing | titlecase }}</p>
              <ng-template #salePrice><p class="text-muted">Price: {{post.price}} JD</p></ng-template>
              <div class="border-product text-muted">
                {{ post.category | titlecase }}
              </div>
              <div class="border-product">
                <p>{{ post.description }}</p>
              </div>
              <div class="border-product">
                <p>Condition: {{ post.condition | titlecase}}</p>
              </div>
              <div *ngIf="ownerInfo" class="border-product">
                <p class="text-muted">Owner: {{ ownerInfo.firstName }} {{ ownerInfo.lastName }}</p>
              </div>
              <div class="border-product d-flex gap-2 mt-3">
                <button class="btn btn-outline-primary" (click)="createChat(post)"><i class="ti-comments-smiley me-2"></i>Start Chat</button>
                <button class="btn btn-outline-warning" (click)="addToWishlist(post.id)"><i class="ti-heart me-2"></i>Add To Wishlist</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</ng-template>
  