<app-breadcrumb [title]="'Posts'" [breadcrumb]="'Posts'"></app-breadcrumb>
<!-- section start -->
<section class="section-b-space">
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <!--Side Section Start-->
                <div class="col-lg-3">
                    <div class="collection-filter" [class.openFilterbar]="mobileSidebar">
                        <!--Mobile Filter Sidebar-->
                        <div class="collection-filter-block">
                            <div class="collection-mobile-back" (click)="toggleMobileSidebar()">
                                <span class="filter-back">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i> back
                                </span>
                            </div>
                            <!-- Category filter start -->
                            <div class="collection-collapse-block border-0" [class.open]="collapse1">
                                <h3 class="collapse-block-title" (click)="collapse1 = !collapse1">Category</h3>
                                <div class="collection-collapse-block-content">
                                    <div class="collection-brand-filter">
                                        <ul class="category-list">
                                            <li *ngFor="let category of categories" [ngClass]="{'selected-category': selectedCategory?.name === category.name}">
                                                <a (click)="selectCategory(category)">
                                                    {{ category.name }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Category filter start -->
                        </div>
                        <!-- silde-bar colleps block end here -->

                        <!-- side-bar colleps block stat -->
                        <div class="collection-filter-block" *ngIf="selectedCategory">

                            <!-- SubCategory Filter Start -->
                            <div class="collection-collapse-block border-0" [class.open]="collapse2">
                                <h3 class="collapse-block-title" (click)="collapse2 = !collapse2">{{selectedCategory.name}}</h3>
                                <div class="collection-collapse-block-content">
                                    <div class="collection-brand-filter">
                                        <ul class="category-list">
                                            <li *ngFor="let subcategory of selectedCategory.subCategory" 
                                            [ngClass]="{'selected-subcategory': selectedSubCategory?.name === subcategory.name}">
                                                <a (click)="selectSubCategory(subcategory)">
                                                    {{ subcategory.name }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- SubCategory Filter End -->

                            <!-- SubCategory2 Filter Start -->
                            <div class="collection-collapse-block border-0" [class.open]="collapse3" *ngIf="selectedSubCategory?.subCategory">
                                <h3 class="collapse-block-title" (click)="collapse3 = !collapse3">{{ selectedSubCategory.name  }}</h3>
                                <div class="collection-collapse-block-content">
                                    <div class="collection-brand-filter">
                                        <ul class="category-list">
                                            <li *ngFor="let subSubcategory of selectedSubCategory.subCategory"
                                            [ngClass]="{'selected-subcategory': selectedSubSubCategory?.name === subSubcategory.name}">
                                                <a (click)="selectSubSubCategory(subSubcategory)">
                                                    {{ subSubcategory.name }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div> 
                            <!-- SubCategory2 Filter End -->

                        </div>
                        <!-- silde-bar colleps block end here -->

                            
                        <div class="collection-filter-block my-4 py-2">
                            <h3 class="mb-3">Pricing</h3>
                            <ul class="list-group">
                                <li class="list-group-item" *ngFor="let pricing of ['all', 'free', 'paid']">
                                    <div type="button" class="p-0 text-decoration-none"
                                            (click)="selectPricing(pricing)"
                                            [ngClass]="{'selected-type': selectPricing === pricing}">
                                        {{ pricing | titlecase }}
                                    </div>
                                </li>
                            </ul>
                        </div>
                        
                        <!-- Type Filter End -->

                    </div>
                    
                </div>
                <!--Side Section End-->
                <div class="collection-content col">
                    <div class="page-main-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="top-banner-wrapper">
                                    <img src="assets/images/posts-banner.jpeg" class="img-fluid " alt="">
                                    <div class="top-banner-content small-section">
                                        <h4>Posts</h4>
                                        <h5>Welcome to our Posts page!
                                        </h5>
                                        <p>
                                            This is a dedicated space for you to explore, swap, and exchange items with fellow students. Whether you’re looking for textbooks for your next semester, uniforms, or tools for your new project, you’ll find it all here. Our community thrives on the principle of sharing and recycling resources. You can choose to swap items for free or at a nominal cost. So go ahead, browse through the posts, and you might just find the item you need or find a new home for the things you no longer use. Happy swapping!
                                        </p>
                                    </div>
                                </div>
                                <!--Mobile Filter Button-->
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="filter-main-btn" (click)="toggleMobileSidebar()">
                                            <span class="filter-btn btn btn-theme">
                                                <i class="fa fa-filter" aria-hidden="true"></i> Filter
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!---->
                                <div class="collection-product-wrapper" id="products">
                                    <div class="product-wrapper-grid">
                                        <div class="row">
                                            <div class="col-grid-box" [ngClass]="'col-xl-3 col-md-6'" *ngFor="let post of filteredPosts">
                                                <div class="product-box">
                                                    <app-product-box-three [loader]="true" [post]="post"></app-product-box-three>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 text-center section-b-space mt-5 no-found" *ngIf="!filteredPosts.length">
                                                <img src="assets/images/empty-search.jpg" class="img-fluid mb-4">
                                                <h3>Sorry! Couldn't find any post you were looking For!!! </h3>
                                                <p>Please check if you have misspelt something or try searching with other words.</p>
                                                <a href="/pages/posts" class="btn btn-solid">continue shopping</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="add-post-btn" data-bs-toggle="tooltip" data-bs-placement="left" title="Add new post" (click)="openModal()">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </div>    
</section>
<!-- section End -->