.container {
  max-width: 600px; /* Center the notification container for better focus */
}

.alert {
  background: #f8f9fa; /* Light background to differentiate the alert box */
}

.notification-list {
  max-height: 400px; /* Adjust based on your needs */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* For momentum scrolling on iOS */
}

.notification-content {
  display: flex;
  align-items: center;
  gap: 10px; /* Ensures spacing between icon and text */
}

.notification-message {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  font-size: 0.90rem; /* Slightly reduced font size for message text */
}

.fa-bullhorn {
  font-size: 1.2rem; /* Slightly larger icon for visual emphasis */
}

.alert-info {
  background-color: #e2e3e5;
  border-color: #d3d6d8;
}

/* Additional styles for better responsiveness and aesthetics */
@media (max-width: 768px) {
  .container {
    padding: 0 15px; /* Smaller screens padding adjustment */
  }
}

.custom-loader {
  min-width: 45vw;
}