<app-breadcrumb [title]="'Profile'" [breadcrumb]="'Profile'"></app-breadcrumb>
<!-- personal deatail section start -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>PERSONAL DETAIL</h3>
                <div class="theme-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="fw-bold">First Name</div>
                            <div class="border p-3 my-1">{{userData?.firstName | titlecase}}</div>
                        </div>
                        <div class="col-md-6">
                            <div class="fw-bold">Last Name</div>
                            <div class="border p-3 my-1">{{userData?.lastName | titlecase}}</div>
                        </div>
                        <div class="col-md-6">
                            <div class="fw-bold">Email</div>
                            <div class="border p-3 my-1">{{userData?.email}}</div>
                        </div>
                        <div class="col-md-6">
                            <div class="fw-bold">Gender</div>
                            <div class="border p-3 my-1">{{userData?.gender | titlecase}}</div>
                        </div>
                        <div class="col-md-6">
                            <div class="fw-bold">Points</div>
                            <div class="border p-3 my-1">{{userData?.points}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <!-- product section start -->
        <section class="section-b-space">
            <div class="container">
                <div class="row">
                    <div class="col-12 product-related">
                        <h2>My Posts</h2>
                        <h4 (click)="openModal()">Add Post <i class="ti-plus p-1"></i></h4>
                    </div>
                </div>
                <div class="row search-product">
                    <div class="col-xl-2 col-md-4 col-sm-6"  *ngFor="let post of posts">
                        <div class="product-box">
                            <app-product-box-one [loader]="true" [post]="post">
                            </app-product-box-one>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- product section end -->
        
    </div>
</section>
<!-- Section ends -->
