.card-img-top {
    object-fit: cover; /* Fills the container, maintaining aspect ratio */
    height: 200px; /* Adjust height as needed */
    width: 200px; /* Adjust width as needed */
 }
/* Add these styles to your component's SCSS file */

.swapping-arrows {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .left-arrow,
  .right-arrow {
    font-size: 24px; /* Adjust the size as needed */
    animation-duration: 2s; /* Adjust the duration as needed */
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  .right-arrow {
    animation-name: swapRight;
  }
  
  .left-arrow {
    animation-name: swapLeft;
  }
  
  @keyframes swapLeft {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-40px);
    }
    50% {
      transform: translateX(-40px) rotate(180deg);
    }
    75% {
      transform: translateX(0) rotate(180deg);
    }
  }
  
  @keyframes swapRight {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(40px);
    }
    50% {
      transform: translateX(40px) rotate(180deg);
    }
    75% {
      transform: translateX(0) rotate(180deg);
    }
  }