<!--
<div class="swapping-options" *ngIf="notification.post && !isSwapping">
    <button class="btn btn-primary btn-sm me-2" (click)=">Accept</button>
    <button class="btn btn-secondary btn-sm" >Reject</button>
</div>-->
<div class="row" *ngIf="requestsAsPost?.length">
    <div class="card col-12 col-md-6 col-lg-3" *ngFor="let post of requestsAsPost">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">From: {{ post.requestFrom }}</p>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <button type="button" class="btn btn-success" (click)="openConfirmationModal(post)">
            <i class="fa fa-check"></i> Accept
          </button>
          <button type="button" class="btn btn-danger" (click)="reject(post, uid)">
            <i class="fa fa-times"></i> Reject
          </button>
        </div>
    </div>
</div>

<!--No Requests-->
<div *ngIf="!requestsAsPost?.length">
    <h4 class="text-muted">No Requests</h4>
</div>

<ng-template #confirmationModalContent let-post="post">
    <div class="modal-header">
      <h5 class="modal-title">Confirm Action</h5>
      <button type="button" class="close" aria-label="Close" (click)="modalRef.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> 

    <div class="modal-body">
      <p *ngIf="!isSwapping">Are you sure you want to accept "{{ selectedPostSwap?.title }}"? Make sure that you do not proceed until you already took the item.</p>
      <p *ngIf="isSwapping">Swapping in progress...</p>
      <div *ngIf="isSwapping" class="swapping-arrows">
        <i class="fa fa-arrow-right right-arrow"></i>
        <i class="fa fa-arrow-left left-arrow"></i>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalRef.dismiss('Cancel')">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="accept(selectedPostSwap, uid)">Accept</button>
    </div>
</ng-template>

  

