<!-- post-list.component.html -->
<table class="table">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Title</th>
        <th scope="col">Type</th>
        <th scope="col">Price</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts">
        <td class="align-middle"><img [src]="post.image" alt="{{ post.title }} Image" style="max-width: 50px;"></td>
        <td class="align-middle">{{ post.title }}</td>
        <td class="align-middle">{{ post.type }}</td>
        <td class="align-middle">{{ post.price | currency }}</td>
        <td class="align-middle"><button class="btn btn-primary" (click)="swapRequest(otherParticipant.uid, uid, post)">Swap me</button></td>
      </tr>
      <span class="text-muted" *ngIf="!posts?.length">No Posts To Swap</span>
    </tbody>
</table>
  