<section class="manage-users p-0">
  <div class="card-header text-white">
    <h4 class="mb-0">{{'Users' | uppercase}}</h4>
  </div>
  <table class="table table-striped">
      <thead>
        <tr>
          <th> User Name </th>
          <th> Email </th>
          <th> Points </th>
          <th> Push Notification </th>
          <th>Blocked</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of usersList">
          <td class="py-1">
            {{user.firstName + " " + user.lastName}}
          </td>
          <td> {{user.email}} </td>
          <td> {{user.points}} </td>
          <td> 
            <form (ngSubmit)="sendMessage(user.id)">
              <label for="message-{{user.id}}">Message:</label>
              <input type="text" id="message-{{user.id}}" name="message-{{user.id}}" [(ngModel)]="userMessages[user.id]">
              <button class="btn btn-primary" type="submit">Submit</button>
            </form>
          </td>
          <td>
            <input type="checkbox" [checked]="user.blocked" (change)="toggleBlockedState(user.id, $event.target.checked)">
          </td>
        </tr>
      </tbody>
  </table>
</section>