<div class="collection-collapse-block" [class.open]="collapse">
    <h3 class="collapse-block-title" (click)="collapse = !collapse">Sub Category</h3>
    <div class="collection-collapse-block-content">
      <div class="collection-brand-filter">
        <div class="custom-control custom-checkbox collection-filter-checkbox" *ngFor="let subCategory of subCategories">
          <input class="custom-control-input" value="{{subCategories}}"/>
          <label class="custom-control-label"></label>
        </div>
      </div>
    </div>
</div>