<section class="manage-admins">
    <div class="card-header text-white">
        <h4 class="mb-0">{{'register new admin' | uppercase}}</h4>
    </div>

    <form [formGroup]="adminForm" (ngSubmit)="registerAdmin()" class="mt-4">
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <div class="input-group">
                <span class="input-group-text"><i class="ti-email"></i></span>
                <input type="email" id="email" formControlName="email" class="form-control" required>
            </div>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <div class="input-group">
                <span class="input-group-text"><i class="ti-lock"></i></span>
                <input type="password" id="password" formControlName="password" class="form-control" required>
            </div>
        </div>

        <button type="submit" class="btn btn-theme" [disabled]="!adminForm.valid">Register Admin</button>
    </form>
</section>

