<div *ngIf="!loader">
  <div class="img-wrapper">
    <div class="front">
      <a>
        <img 
          [defaultImage]="'assets/images/product/placeholder.jpg'" 
          [lazyLoad]="'assets/images/slider/31.jpg'" 
          class="img-fluid lazy-loading"  />
      </a>
    </div>
    <div class="cart-info cart-wrap">
      <a href="javascript:void(0)" title="Quick View" (click)="QuickView.openModal()">
        <i class="ti-search" aria-hidden="true"></i>
      </a>
      <a href="javascript:void(0)" title="Compare">
        <i class="ti-reload" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div class="product-detail">
    <div>
      <bar-rating [rate]="5" [readOnly]="true"></bar-rating>
    
      <h6 class="m-3" dir="rtl">{{post.title}}</h6>
      <hr>
      <h4>Description</h4>
      <p>{{post.description}}</p>
      <h4>{{post.price}} JD</h4>
      
    </div>
  </div>
</div>
<!--
<app-quick-view #quickView [product]="product" [currency]="currency"></app-quick-view>
<app-cart-modal #cartModal [product]="product" [currency]="currency" *ngIf="cartModal"></app-cart-modal>-->
<app-skeleton-product-box *ngIf="loader"></app-skeleton-product-box>

