<div *ngIf="!loader" class="box">
  <div class="img-wrapper">
    <div class="front">
      <a>
        <img 
          [defaultImage]="'/assets/logo.png'" 
          [lazyLoad]="post.image" 
          class="img-fluid lazy-loading"  />
      </a>
    </div>
  </div>
  <div class="product-detail">
    <div>
        
        <h5 class="product-title">{{ post?.title | titlecase }}</h5>
        <h5>State: {{post?.state | titlecase}}</h5>
        
        <div class="d-flex justify-content-between p-2 mt-2">
          <button class="btn btn-sm btn-danger rounded-start" (click)="openDeleteConfirmationModal(post, post?.title)">Delete</button>
          <button class="btn btn-sm btn-warning rounded-end" (click)="openEditModal(post)" *ngIf="post.state === 'pending'">Edit</button>
        </div>
    </div>
  </div>

</div>
<!--
<app-quick-view #quickView [product]="product" [currency]="currency"></app-quick-view>
<app-cart-modal #cartModal [product]="product" [currency]="currency" *ngIf="cartModal"></app-cart-modal>-->
<app-skeleton-product-box *ngIf="loader"></app-skeleton-product-box>
