<div *ngIf="!loader">
  <div class="img-wrapper">
    <div class="front">
      <a>
        <img 
          [defaultImage]="'/assets/logo.png'" 
          [lazyLoad]="post.image" 
          class="img-fluid lazy-loading"  />
      </a>
    </div>
    <div class="cart-info cart-wrap">
      <a href="javascript:void(0)" title="Quick View">
        <i class="ti-search" aria-hidden="true"></i>
      </a>
      <a href="javascript:void(0)" title="Compare">
        <i class="ti-reload" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div class="product-detail">
    <div>    
      <h4 class="m-3 text-center">{{post.title}}</h4>
      <hr>
      <div class="description">
        <h4>Description :</h4>
        <div>{{post.description}}</div>
      </div>
      <div class="price">
        <h4>Price: </h4>
        <h6 *ngIf="post.type == 'Free'">Free</h6>
        <h6 *ngIf="post.type == 'Sale'">{{post.price}} JD</h6>
      </div>
    </div>
  </div>
</div>
<!--
<app-quick-view #quickView [product]="product" [currency]="currency"></app-quick-view>
<app-cart-modal #cartModal [product]="product" [currency]="currency" *ngIf="cartModal"></app-cart-modal>-->
<app-skeleton-product-box *ngIf="loader"></app-skeleton-product-box>

