<app-breadcrumb [title]="'Register'" [breadcrumb]="'Register'"></app-breadcrumb>
<!-- section start -->
<section class="register-page pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>create account</h3>
                <div class="theme-card">
                    <form class="theme-form" [formGroup]="registrationForm" (ngSubmit)="register(registrationForm)">

                        <div class="row">

                            <div class="col-md-6">
                                <label for="fname">First Name</label>
                                <input type="text" class="form-control" id="fname" placeholder="First Name" formControlName="firstName">
                                <div class="alert alert-danger" *ngIf="registrationForm.get('firstName').errors?.['required'] && registrationForm.get('firstName').touched">
                                    First Name is required
                                </div>   
                            </div>
                            
                            <div class="col-md-6">
                                <label for="lname">Last Name</label>
                                <input type="text" class="form-control" id="lname" placeholder="Last Name" formControlName="lastName">
                                <div class="alert alert-danger" *ngIf="registrationForm.get('lastName').errors?.['required'] && registrationForm.get('lastName').touched">
                                    Last Name is required
                                </div>   
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <label for="email">email</label>
                                <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email">
                                <div class="alert alert-danger" *ngIf="registrationForm.get('email').errors?.['required'] && registrationForm.get('email').touched">
                                    Email is Required
                                </div>  
                                <div class="alert alert-danger" *ngIf="registrationForm.get('email').errors?.['email'] && registrationForm.get('email').touched">
                                    Enter a valid JU email address 
                                </div>   
                                <div class="alert alert-danger" *ngIf="registrationForm.get('email').errors?.['invalidDomain'] && registrationForm.get('email').touched">
                                    Email must be a JU email, ends with (&#64;.edu.jo)
                                </div>   
                            </div>

                            <div class="col-md-6">
                                <label for="gender">Gender</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input p-2" type="radio" name="gender" id="inlineRadio1" value="male" formControlName="gender">
                                        <label class="form-check-label" for="inlineRadio1">Male</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input p-2" type="radio" name="gender" id="inlineRadio2" value="female" formControlName="gender">
                                        <label class="form-check-label" for="inlineRadio2">Female</label>
                                    </div>
                                </div>             
                            </div>
                        </div>

                        <div class="row">                            
                            <div class="col-md-6">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Enter your password" formControlName="password">
                                <div class="alert alert-danger" *ngIf="registrationForm.get('password').errors?.['required'] && registrationForm.get('password').touched">
                                    Password is required
                                  </div>  
                                  <div class="alert alert-danger" *ngIf="registrationForm.get('password').errors?.['minLength'] && registrationForm.get('password').touched">
                                    Password must gave minimum length of 8 
                                </div>                                   
                            </div>
                            <div class="col-md-6">
                                <label for="pconfirm">Confirm Password</label>
                                <input type="password" class="form-control" id="pconfirm" placeholder="Confirm Password" formControlName="confirmPassword">
                                <div class="alert alert-danger" *ngIf="registrationForm.get('confirmPassword').hasError('passwordMismatch')">
                                    Password Don't Match
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-solid" [disabled]="registrationForm.invalid">create Account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->