<!-- Home slider start-->
<section class="p-0 service_slide">
  
  <app-slider
    [class]="'text-white'"
    [sliders]="sliders" 
    [textClass]="'text-center p-center'"
    [buttonClass]="'btn-green'"
    [buttonText]="'Explore Student Swaps'"> 
  </app-slider>
  
</section>
<!-- Home slider End -->

<!-- service section start -->
<section class="banner-padding absolute-banner pb-0 tools-service">
    <div class="container absolute-bg">
        <div class="service p-0 ">
            <app-services></app-services>
        </div>
    </div>
</section>
<!-- service section end -->


<!-- Categories section start -->

<!--Categories 1 Section Start (If User)-->
<section class="full-banner parallax portfolio-section grid-portfolio" [ngStyle]="{'background-image': 'url(assets/images/slider/backimage.png)'}" *ngIf="isUser">
  <div class="container-fluid">
      <div class="row category-border">

          <div class="title3 section-t-space">
            <h4>Choose Your</h4>
            <h2 class="title-inner3">Category</h2>
            <div class="line"></div>
          </div>

          <div class="col-sm-4 border-padding" *ngFor="let category of categories">
              <div class="category-banner" (click)="openPostsPage(category)" style="cursor: pointer;">
                  <div>
                    <img [src]="category.image" class="img-fluid" alt="">
                  </div>
                  <div class="category-box">
                    <h2>{{category.name}}</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--Categories 1 Section End (If User)-->

<!-- Section (If Not User)-->
<section class="full-banner parallax portfolio-section grid-portfolio" [ngStyle]="{'background-image': 'url(assets/images/slider/backimage.png)'}" *ngIf="!isUser">
  <div class="title3 section-t-space">
    <h4>Create Your Account Now With Your Ju Email</h4>
    <h2 class="title-inner3">And Be Our Guest</h2>
    <div class="line"></div>
  </div>
</section>
<!--Categories Section End-->

<!-- About section start -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="title3">
                    <h4>about us</h4>
                    <h2 class="title-inner3">welcome to uniswap</h2>
                    <div class="line"></div>
                </div>
                <div class="about-text">
                    <p>
                      Welcome to our innovative platform dedicated to enhancing the student experience! We understand the financial and environmental challenges students face when acquiring and disposing of university supplies. Our mission is to foster a sense of community by providing a user-friendly web-based platform that facilitates the exchange and donation of academic essentials among students. By reusing tools that might be unnecessary for some but crucial for others, we aim to promote savings, cooperation, and interaction within the university community. Join us in creating a sustainable and collaborative environment where students can easily connect, share, and contribute to each other's academic journeys. Together, let's build a community that not only thrives academically but also cares for the responsible use of resources.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About banner start-->
<section class="p-t-0 section-b-space">
  <div class="container">
    <div class="row partition2">
      <div class="col-md-6" *ngFor="let collection of collections">
        <div class="collection-banner text-center" [ngClass]="collection.class">
          <img [src]="collection.image" class="img-fluid opacity-75" alt="collection-banner">
          <div class="contain-banner">
            <div>
              <h4>{{collection.save}}</h4>
              <h2>{{collection.title}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About banner End -->
<!-- About section end -->