<!-- Home slider start-->
<section class="p-0 service_slide">
  
  <app-slider
    [class]="'text-white'"
    [sliders]="sliders" 
    [textClass]="'text-center p-center'"
    [buttonClass]="'btn-green'"
    [buttonText]="'Getting Started'"> 
  </app-slider>
  
</section>
<!-- Home slider End -->

<!-- service section start -->
<section class="banner-padding absolute-banner pb-0 tools-service">
    <div class="container absolute-bg">
        <div class="service p-0 ">
            <app-services></app-services>
        </div>
    </div>
</section>
<!-- service section end -->

<!-- About section start -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="title3">
                    <h4>about us</h4>
                    <h2 class="title-inner3">welcome to uniswap</h2>
                    <div class="line"></div>
                </div>
                <div class="about-text">
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About section end -->

<!-- collection banner start-->
<section class="p-t-0 section-b-space">
  <div class="container">
    <div class="row partition2">
      <div class="col-md-6" *ngFor="let collection of collections">
        <a [routerLink]="collection.link">
          <div class="collection-banner text-center" [ngClass]="collection.class">
            <img [src]="collection.image" class="img-fluid" alt="collection-banner">
            <div class="contain-banner">
              <div>
                <h4>{{collection.save}}</h4>
                <h2>{{collection.title}}</h2>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- collection banner End -->

<!-- product slider start -->
<div class="title3 section-t-space">
    <h4>special offer</h4>
    <h2 class="title-inner3">new products</h2>
    <div class="line"></div>
</div>
<section class="p-t-0 section-b-space tools-grey border-box">
    <div class="container">
        <div class="row">
            <div class="col">
                <owl-carousel-o [options]="ProductSliderConfig" class="product-5 product-m no-arrow">
                    <ng-container *ngFor="let product of products">
                      <ng-template carouselSlide>
                        <div class="product-box product-wrap">
                            <app-product-box-three 
                              [product]="product" 
                              [currency]="productService?.Currency">
                            </app-product-box-three>
                        </div>
                      </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>
<!-- product slider end -->

<!-- parallax product section start -->
<section class="full-banner parallax tools-parallax-product tools-grey border-box"
  [ngStyle]="{'background-image': 'url(assets/images/parallax/10.jpg)'}">
  <div class="container">
    <div class="row">
      <div class="col theme-tab">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="tabs tab-title justify-content-center nav nav-pills" >
          <li *ngFor="let collection of productCollections" [ngbNavItem]="collection">
            <a ngbNavLink>
               {{ collection }}
            </a>
            <ng-template ngbNavContent>
              <div class="no-slider row">
                  <ng-container *ngFor="let product of getCollectionProducts(collection) | slice:0:4">
                      <div class="product-box">
                          <app-product-box-three [product]="product" [currency]="productService?.Currency">
                          </app-product-box-three>
                      </div>
                  </ng-container>
              </div>
            </ng-template>
          </li>
        </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
</section>
<!-- parallax product section end -->