<!--footer section -->
<footer>
	<section class="section-b-space light-layout">
		<div class="container">
			<div class="row footer-theme partition-f">
				<div class="col-lg-4 col-md-6">
					<div class="footer-title footer-mobile-title">
						<h4>about</h4>
					</div>
					<div class="footer-contant">
						<div class="footer-logo">
							<img [src]="themeLogo" alt="logo">
						</div>
						<p>In UniSwap, students can easily list items they no longer need and find items they require, fostering a culture of reuse and minimising costs.</p>
					</div>
				</div>
				<ng-container *ngIf="isUserAuthenticated">
					<div class="col offset-xl-1" >
						<div class="sub-title">
							<div class="footer-title">
								<h4>Categories</h4>
							</div>
							<div class="footer-contant">
								<ul>
									<li *ngFor="let category of categories">
										<a routerLink="/pages/posts" 
											[queryParams]="{category: category.name}"
											routerLinkActive="active"
											[routerLinkActiveOptions]="{exact: true}">
											{{category.name}}
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</ng-container>
				<div class="col">
					<div class="sub-title">
						<div class="footer-title">
                            <h4>to learn more about</h4>
                        </div>
                        <div class="footer-contant">
                            <ul>
                                <li><a (click)="scrollToAboutSection()" routerLink="">About</a></li>
                            </ul>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</section>
</footer>
<!--footer section end -->