<div class="modal-header">
    <h4 class="modal-title">Points System Description</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">
    <div class="text-center mb-4">
      <img src="assets/images/points.jpeg" alt="Points Image" class="img-fluid rounded-circle" style="max-width: 200px;">
    </div>
    <p class="lead text-center">
      Welcome to our points system! Earn more points by uploading more free posts.
    </p>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h5>Ways to Earn Points:</h5>
        <p>When you upload a free item on our site, you will get a point that allows you to
            request a free item as well!
        </p>
      </div>
      <div class="col-md-6">
        <h5>Redeem Rewards:</h5>
        <p>
          You can exchange every point you got through your free post on our website by taking another free item!
        </p>
      </div>
    </div>
</div>